* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
/* Custom font-family */

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('../assets/fonts/GTWalsheimPro-Regular.woff2') format('woff2'),
    url('../assets/fonts/GTWalsheimPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Pro Thin';
  src: url('../assets/fonts/GTWalsheimPro-Thin.woff2') format('woff2'),
    url('../assets/fonts/GTWalsheimPro-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

:root{
  --main-font-color:#060606;
}

body {
  position: relative;
  font-family: 'GT Walsheim Pro', sans-serif;
  font-size: 1.6rem;
  line-height: 1;
  color: #060606;
  overflow-x: hidden;
}

.heading{
  font-size: 3.8rem;
}
a:link,
a:visited {
  text-decoration: none;
  color: #060606;
}

:root {
  --slider-padding: 5rem;
}
