@media (width <= 1366px) {
  .section-hero--cans-image {
    width: 25vw;
  }

  .section-hero--logo-text {
    /* width: 25vw;
    width: 20vw; */
  }
  .nav-links {
    margin-bottom: 5.6rem;
  }

  .footer-image--container {
    left: 18%;
  }

  .footer-image {
    width: 350px;
  }
  .section-footer {
    min-height: 22vh;
  }
}

@media (width <=1260px) {
  /* section, */
  .nav {
    padding: 0 4.8rem;
  }
  .wrapper {
    width: 95vw;
  }
  .nav {
    padding: 2.4rem 4.8rem;
  }

  .section-hero--logo-text {
    width: 60%;
  }

  .section-about--portrait {
    width: 90%;
    height: auto;
  }

  .section-hero--subheading {
    font-size: 2.2rem;
  }

  .section-about--heading {
    font-size: 2.8rem;
    margin-bottom: 2.4rem;
  }
  .section-about--text {
    line-height: 1.15;
    font-size: 1.4rem;
    text-wrap: wrap;
  }

  .section-about--description {
    /* min-width: 100px; */
    margin-bottom: 4.8rem;
  }

  .accordion-item--header {
    font-size: 1.6rem;
    width: 100%;
  }

  .description {
    font-size: 1.4rem;
    margin-right: 1.2rem;
  }
  .stages-heading {
    font-size: 3.2rem;
  }

  .production-stages {
    display: flex;
    flex-shrink: 2;
    align-items: center;
    gap: 7.2rem;
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 3.2rem;
    padding-top: 1.2rem;
  }

  .production-stages--number {
    font-family: 'GT Walsheim Pro Thin', sans-serif;
    font-size: 5.6rem;
    width: 100px;
  }

  .stages-container {
    width: 100%;
  }
  .production-stages--heading {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 0.5px;
    min-width: 250px;
  }
  .production-stages--content {
    width: 600px;
    line-height: 1.5;
    font-size: 1.4rem;
    text-wrap: wrap;
  }

  .section-footer {
    height: 25vh;
  }

  .handle-icon {
    width: 48px;
    height: 48px;
  }

  .footer-logo {
    width: 55%;
  }
  .footer-image {
    width: 90%;
  }

  .btn-submit--background {
    width: 200px;
  }
  .btn-submit--text {
    width: 150px;
  }

  .footer-logo {
    width: 30%;
  }
  .form-modal {
    flex-direction: column;
  }
}

@media (width<=1050px) {
  .nav_link {
    font-size: 1.6rem;
  }

  .section-hero--features-list {
    font-size: 1.4rem;
  }

  .stages-heading {
    font-size: 2.8rem;
  }

  .section-hero--subheading {
    font-size: 1.6rem;
  }

  .section-about--heading {
    font-size: 1.8rem;
  }

  .section-about--text {
    font-size: 1.2rem;
  }

  .section-about--portrait {
    /* height: 25vh; */
    width: 30vw;
    height: auto;
  }

  .accordion-item--header {
    font-size: 1.4rem;
  }

  .accordion-icon {
    width: 18px;
    height: 18px;
  }

  .stages-heading {
    font-size: 2rem;
  }

  .production-stages {
    gap: 4.8rem;
  }
  .production-stages--content {
    font-size: 1rem;
  }

  .production-stages--heading {
    font-size: 1.4rem;
  }
  .production-stages--number {
    font-size: 4.8rem;
  }

  .description {
    font-size: 1.2rem;
  }

  .section-footer {
    height: 15vh;
  }

  .footer-logo {
    width: 50%;
  }

  .footer-info {
    gap: 1.8rem;
  }

  .footer-image {
    width: 195px;
  }

  .footer-description {
    font-size: 1rem;
  }

  .preserved {
    font-size: 1rem;
  }

  .products-heading {
    font-size: 2rem;
  }
  .section-contact--heading {
    font-size: 2rem;
  }
}

@media (width<=824px) {
  .section-hero {
    gap: 5rem;
  }

  .section-hero--cans-container {
  }

  .nav_link {
    font-size: 1.4rem;
  }
  .section-hero--logo-text {
    width: 60%;
  }
  .section-hero--order-btn {
    padding: 10px 42px;
    font-size: 1.2rem;
  }
  .section-about--portraitContainer {
    height: 100%;
    width: 70%;
  }
  .section-about--portrait {
    height: 100%;
    width: 100%;
  }
  .section-hero--subheading {
    /* font-size: 1rem; */
    letter-spacing: 0.25px;
  }
  .section-hero--features-list {
    font-size: 1.2rem;
    line-height: 0.5px;
    gap: 0.4rem;
  }
  .section-about--heading {
    font-size: 1.6rem;
    letter-spacing: 1px;
  }
  .section-about--text {
    font-size: 0.8rem;
  }
  .production-stages--heading {
    font-size: 1.2rem;
  }
  .production-stages--number {
    font-size: 4rem;
  }
  .production-stages {
    gap: 3.6rem;
  }
  .section-about {
    gap: 5.6rem;
  }
  .contact-form {
    display: block;
    margin: 0 auto;
    width: 90%;
  }
  .contact-form--info {
    width: 100%;
    margin: 0 auto;
  }
  .btn-submit--mobile {
    display: block;
    width: 350px;
    margin-top: 4.8rem;
  }
  .btn-submit {
    display: none;
  }
  .contact-form--comment,
  .input {
    padding: 1rem 0.6rem 1rem 0.4rem;
  }
  .production-stages {
    display: block;
    position: relative;
    padding-bottom: 6.8rem;
  }
  .production-stages--heading,
  .production-stages--content {
    position: absolute;
    left: 20%;
    line-height: 1.35;
  }
  .production-stages--content {
    width: 75%;
    top: 35%;
  }
  .form-divider {
    width: 45%;
    flex-direction: column;
    width: 100%;
    gap: 0;
  }
}

@media (width<=526px) {
  .nav {
    display: none;
  }
  section {
    padding: 0 2.4rem;
  }
  .section-hero--order-btn {
    width: 100%;
  }
  .section-hero {
    margin-top: 3.2rem;
    margin-bottom: 30rem;
    padding: 0.8rem;
  }
  .section-hero--subheading {
    display: none;
  }
  .section-hero--subheading-mobile {
    display: block;
  }
  .section-hero--logo-text {
    display: none;
  }

  .section-hero--content {
    margin-top: 10rem;
  }
  .logo-menuBtn--container {
    display: flex;
  }
  .section-hero--logo-text {
    width: 70%;
  }

  .section-hero--logo-text {
    width: 120px;
    height: 100%;
    margin-bottom: 4.7rem;
  }
  .section-hero {
    position: relative;
    width: 100%;
    padding-top: 4.8rem;
    margin-bottom: 22rem;
  }
  .section-hero--cans-image {
    width: 150px;
    position: absolute;
    top: 5rem;
    right: -110px;
  }
  .spot-one--hero_can {
    display: block;
  }

  .section-contact--heading {
    display: none;
  }
  .section-contact {
    width: 100%;
    padding: 0;
  }

  .btn-submit {
    display: none;
  }
  .description {
    font-size: 1rem;
  }
  .btn-submit--mobile {
    width: 100%;
    margin-top: 4.8rem;
  }
  .input {
    width: 100%;
  }

  .form-divider {
    width: 45%;
    flex-direction: column;
    width: 100%;
    gap: 0;
  }
  .contact-form {
    margin: 0 auto;
    width: 80%;
  }

  .footer-image,
  .footer-image--container {
    display: none;
  }

  .section-footer {
    justify-content: start;
  }
  .footer-info {
    right: 50%;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
  .footer-logo {
    width: 95px;
  }

  .section-about {
    flex-flow: column-reverse;
  }

  .section-about--heading {
    letter-spacing: 1.75px;
    font-size: 3.2rem;
    font-weight: 600;
  }

  .section-hero--order-btn {
    position: absolute;
    width: 80%;
    bottom: -40%;
    left: 10%;
    padding: 18px 36px;
    font-size: 1.8rem;
  }
  .section-about {
    margin: 0;
    width: 100%;
    gap: 16.6rem;
    justify-content: center;
    align-items: center;
  }
  .section-about--description {
    width: 100%;
    height: 150px;
    font-size: 2rem;
    margin: 0;
  }
  .section-about--text {
    font-size: 1.4rem;
  }

  .section-about--portraitContainer {
    justify-content: center;
  }
  .section-about--portrait {
    margin: 0 auto;
    width: 250px;
  }

  /* ACCORDION */
  .accordion-container {
    /* width: 300px; */
    border-radius: 13px;
    padding: 1.2rem 2.4rem;
    margin-bottom: 8.6rem;
  }

  .accordion-icon {
    width: 24px;
    height: 24px;
  }

  .production-stages--content {
    top: 50px;
  }

  .production-stages--number {
    font-size: 4.8rem;
  }

  .production-stages--heading,
  .production-stages--content {
    left: 25%;
  }

  /* PRODUCTION STAGES */
  .production-stages {
    padding-bottom: 9.6rem;
  }

  .slider {
    gap: 1.3rem;
    width: max-content;
  }
}
