@media (width<=1100px) {
  .body {
    font-size: 0.8rem;
    width: 70%;
  }
  h1{
    font-size: 1.2rem;
  }
}


@media (width<=780px) {
    .body {
      font-size: 0.6rem;
      width: 80%;
    }
    h1{
        font-size: 1rem;
      }
  }
@media (width<=550px) {
    .body {
      font-size: 0.4rem;
      width: 90%;
    }
    h1{
        font-size: 0.8rem;
      }
  }